@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scroll-bar {
  &::-webkit-scrollbar{
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
  }
}

.title {
  padding-left: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
}

.left {
  width: 15vw;
  min-width: 240px;
  border: 1px solid #eee;
  border-radius: 2px;
  overflow: hidden;
  box-sizing: border-box;

  .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background-color: #f5f7fa;

    .refresh-btn, 
    .download-btn {
      width: 24px;
      height: 24px;
    }
  }

  .chat-list {
    width: 100%;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;

    .chat {
      display: flex;
      flex-direction: row;
      align-items: center;

      &.active {
        background-color: #f5f7fa;
      }
      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      .avator {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;


        img {
          width: 60px;
          height: auto;
        }
      }

      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
        margin-left: 3px;

        .nickname {
          color: #000;
        }
    
        .last-msg {
          color: rgb(168, 168, 168);
          font-size: 12px;
          margin-top: 1px;
        }
      }
    }
  }
}

.right {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 75vh;
  border: 1px solid #eee;
  border-radius: 2px;
  overflow: hidden;
  margin-left: 10px;
  background-color: #f5f7fa;
  box-sizing: border-box;

  .chat-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
    box-sizing: border-box;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .remark {
        color: #000;
      }
  
      .nickname {
        color: #000;
        font-size: 10px;
        margin-top: 1px;
      }
    }

    .btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;

      .refresh-btn {
        width: 34px;
        height: 34px;
      }
    }
  }

  .message-list {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    overflow-y: auto;
    padding-bottom: 10px;
    box-sizing: border-box;

    .refresh-spinner {
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 999;
      display: flex;
      width: 100%;
      justify-content: center;
      
      .el-icon {
        animation: spin 2s linear infinite;
      }
    }

    .message {
      display: flex;      
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 10px;

      .avator {
        display: flex;
        justify-content: center;
        width: 60px;
        height: 60px;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        width: calc(100% - 60px);

        .username {
          color: rgb(168, 168, 168);
          font-size: 12px;
          line-height: 18px;
        }

        .msg {
          display: flex;
          color: #000;
          font-size: 14px;
          flex-direction: row;
          flex-wrap: wrap;
          line-height: 40px;

          .image {
            width: 160px;
            height: 160px;

            &.small {
              width: 140px;
              height: 140px;
            }
          }

          .system {
            width: 100%;
            text-align: center;
            font-size: 12px;
            color: rgb(168, 168, 168);
          }
        }
      }
      
      &.is-sender {
        flex-direction: row-reverse;

        .content {
          align-items: flex-end;
        }
      }
    }
  }
}