.title {
  padding-left: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.search-box {
  margin-bottom: 20px;
}

.search-input {
  width: 200px;
}

.mr10 {
  margin-right: 10px;
}

.btn {
  margin: 5px;
}
